.messageBox {
  background: #f3f3f3;
  border-radius: 5px;
  padding: 10px;
  color: white;
  display: inline-block;
  max-width: 75%;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 0.8em;
  word-wrap: break-word;
  margin: 0 0 0.2rem 0;
}

/* .messageBox p {
  margin: 0 0 0.2rem 0;
} */

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 1%;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0px;
}

.pl-10 {
  padding-left: 1px;
}

.pr-10 {
  padding-right: 1px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}
.backgroundBlue {
  background: #2979ff;
}

.backgroundLight {
  background: #f3f3f3;
}
